---
---

//noinspection CssUnknownTarget
@import "minima";

a.header-edit-button {
  color: white;

  &:hover {
    color: #002e5d;
  }

  .fab {
    font-size: 16px;
    margin-right: 6px;
  }
}

@mixin content-part {
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
  padding: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.page-content {
  flex-grow: 1;
  @include content-part;
  &.has-collection {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
}

[slot=site-title].subtitle {
  font-size: 0.75em !important;
}

byu-header img {
  vertical-align: unset;
}

.collection-nav {
  @include content-part;
}

$collection-nav-horiz-padding: 16px;
$collection-nav-vertical-padding: 0.125em;
$collection-nav-padding: $collection-nav-vertical-padding $collection-nav-horiz-padding;

.collection-links {
  margin: 0;
  font-size: 0.9em;
  color: black;
}

$collection-nav-active-border-size: 4px;

.collection-links > li {
  display: block;
  color: black;
  &.active {
    background-color: #f2f2f2;
    border-left: $collection-nav-active-border-size solid #0057bb;
  }
}

.collection-links a {
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: $collection-nav-padding;
  height: 100%;
}

.collection-links > li.active a {
  padding-left: $collection-nav-horiz-padding - $collection-nav-active-border-size;
}

.collection-nav-title {
  text-transform: uppercase;
  font-size: 0.75em;
  padding: $collection-nav-padding;
  color: #0057B8;
  font-weight: bold;

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    &:hover {
      text-decoration: underline;
      color: #002e5d;
    }
  }

}

@media (min-width: 1024px) {
  $desktop-nav-width: 225px;

  .collection-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .collection-nav {
    width: $desktop-nav-width;
    box-sizing: border-box;
  }

  .collection-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .collection-contents {
    flex: 1;
  }

}

.collection-prev-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5F7C9B;
  color: white;
  a {
    display: block;
    padding: 8px 16px;
    color: inherit;
    transition: all 0.3s;
    &:hover {
      //color: #002e5d;
      color: #0057b8;
      background-color: #e6e6e6;
      text-decoration: none;
    }
  }
}

.collection-next:only-of-type {
  margin-left: auto;
}

.collection-next:only-of-type::before {
  display: block;
  width: 100px;
  content: ' ';
  flex-grow: 1;
}
